.pagebar {
	font-size:90%;
}
.pagebar a {
	padding:5px 7px;
	text-decoration:none;
	border:1px solid #F9F9F9;
}
.pagebar a:hover{
	background:#E5E5E5;
	border:1px solid #CCC;
	text-decoration:none
}
.pagebar span.pages{
	background:url("img/icons.png") no-repeat scroll 0 -288px transparent;
	height:16px;
	line-height:16px;
	padding:1px 7px 2px 22px !important;
}
*+html ..pagebar span.pages{
	padding:2px 7px 2px 22px !important
}
.pagebar span.this-page{
	background:#F2F2F2;
	padding:5px 7px;
	border:1px solid #F2F2F2;
	font-weight:bold
}
.pagebar span.extend{
	padding:2px 4px;
}